<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title>{% block title %}akyao sandbox{% endblock %}</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href='{% static "css/style.css" %}'>
  <link rel="stylesheet" href='{% static "css/style.css" %}'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src='{% static "js/jquery.tablefix.js" %}'></script>
</head>

<body id="{% block bodyId %}{% endblock %}">
  <header>
    <div class="container">
      <div class="">
        <h2 class="title"><a href="/cron_table" id="navbar__brand">cron table</a></h2>
      </div>
    </div>
  </header>

  <div class="wrapper">
    {% block content %}{% endblock %}
  </div>

  <footer>

  </footer>
</body>

</html>
