td.schedule_cell {
    position:relative;
    width:60px;
    padding:0px !important;
}

.schedule_on{
    position:absolute;
    float:left;
    top: 10px;
    width:1px;
    height:20px;
    background-color:gray;
}